.testimonial-container {
    min-height: 350px;
    height: auto;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgba(37, 69, 184, 1);
    margin: 25px 0px;
}

.testimonial-container > .tm-img-container{
    height: 400px;
    width: 300px;
    border-radius: 15px;
    position: absolute;
    left: 50px;
    overflow: hidden;
}

.testimonial-container > .tm-img-container > img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    background-color: rgba(37, 69, 184, 1);
    border-radius: 15px; 
}

.tm-right-container {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    justify-content: space-evenly;
    margin-left: 350px;
    gap: 15px;
}

.tm-right-container>.tm-text {
    font-size: 20px;
    font-weight: 500;
}

.tm-right-container>.tm-person-details {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.tm-person-details {
    font-size: 16px;
    font-weight: 300;
}


@media(max-width: 768px) {
    .testimonial-container {
        min-height: 400px;
        height: auto;
        flex-direction: column;
        margin: 0px;
        margin-top: 50px;
        width: auto;
    }

    .testimonial-container > .tm-img-container {
        height: 200px;
        width: 100%;
        top: -50px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
    }
    
    .testimonial-container > .tm-img-container > img {
        max-height: 200px;
        max-width: 300px;
        height: 200px;
        width: 300px;
        /* width: auto; */
        object-fit: cover;
        transition: all 0.5s linear;
    }

    .tm-right-container {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
        justify-content: space-evenly;
        margin-left: 0px;
        margin-top: 150px;
        gap: 15px;
    }

    .tm-right-container>.tm-text {
        font-size: 16px;
        font-weight: 500;
    }

    .tm-person-details {
        font-size: 12px;
        font-weight: 300;
    }
}

@media(max-width: 425px) {
    .testimonial-container > .tm-img-container {
        height: 200px;
        width: 100%;
    }
    
    .testimonial-container > .tm-img-container > img {
        max-height: 175px;
        max-width: 250px;
        height: 175px;
        width: 250px;
    }
}